body {
    font-size: 20px;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    
}

.aside {
    width: 25vw;
}

.aside-nav-list-element {
    margin: 10px 20px;
    padding: 5px;
}

.aside-nav-list-element > a {
    text-decoration: none;
}

.aside-nav-list-element > a:visited {
    color: #000;
}

.aside-nav-list-element > a:hover {
    text-decoration: underline;
}

.photo > img {
    width: 250px;
    height: 250px;
    border-radius: 70px;
    margin: 10px 0;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

b {
    font-weight: bold;
}

.main-section-list {
    margin: 15px 0;
    list-style: disc;
}

.main-section-list > li {
    margin: 10px 20px;
    padding: 5px;
}

p {
    margin: 10px 0;
    padding: 5px 0;
    line-height: 30px;
    text-align: justify;
}

.code-examples {
    text-decoration: none;
}

.code-examples:hover {
    text-decoration: underline;
}

.code-examples:visited {
    color: #06bab2;
}